
#grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(16px, 1fr));
    width: 800px;
    height: 800px;
}

.headerContainer {

}

#grid div {
    background-color: white;
    border: 1px solid gray;
}

#grid div.hover {
    background-color: black;
}

#grid div.hovered {
    background-color: black;
}