
#grid {
    margin: auto;
    display: grid;
}

.headerContainer {

}

#grid div {
    background-color: white;
    border: 1px solid gray;
}

#grid div.hover {
    background-color: black;
}

#grid div.hovered {
    background-color: black;
}

