
#grid {
    margin: auto;
    display: grid;
}

#grid {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#grid div {
    background-color: white;
}

#grid div.hover {
    background-color: black;
}

#grid div.hovered {
    background-color: black;
}
